html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
}
p, h1, h2, h3, h4, h5 {
  margin-bottom: 0;
}
h1, h2, h3, h4, h5 {
  line-height: 1.0;
}
.page-wrapper{
	width: 1170px;
	margin: 0 auto;
}
.top-section{
	background-image: url('../images/background.png');
  	background-repeat: no-repeat;
  	background-position: center;
  	background-size: cover;
  	height: 809px;
  	padding-top: 70px;
}
#navbarNav {
  justify-content: flex-end;
  align-items: center;
  height: inherit;
}
.navigation-menu {
  align-items: center;
}
.navigation-menu a {
  color: white !important;
  font-size: 18px;
  padding: 0 15px !important;
  font-family: Helvetica Neue;
  letter-spacing: 2px;
  text-transform: uppercase
}
.navbar{
	margin-bottom: 115px;
	padding: 0;
}
.top-content{
	text-align: center;
}
.faq li { padding: 20px; }

.faq li.question {
  background: red;
  font-weight: bold;
  font-size: 120%;
  border-bottom: 1px #ddd solid;
  cursor: pointer;
  display: flex
}

.faq li.answer {
  background: #3BB0D6;
  display: none;
  color:#fff;
}
.faq li.active {
	display: block;
  background: #3BB0D6;
  color:#fff;
}
.rotate {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.top-content--head{
	margin-bottom: 60px;
	padding: 0px 145px;
}
.top-content--head h1{
	color: #ffffff;
	font-size: 60px;
}
.top-content--body{
	margin-bottom: 90px;
	padding: 0px 225px;
}
.top-content--body p{
	font-size: 15px;
	color: #bebebe
}
.top-content--button{
	padding: 20px 50px;
	border-radius: 10px;
	background-color: #fd4c46;
	color: #ffffff;
	text-transform: uppercase;
	border: none;
	font-size: 27px;
}
.top-content--button:focus{
	outline: 0;
}
.top-content--button:hover{

	background-color: red;
}
.touched-section{
	text-align: center;
	padding: 130px 0px 120px 0px;
}
.touched-section_head{
	margin-bottom: 125px;
	padding: 0px 100px;
}
.touched-section_head h1{
	font-size: 40px;
	color: #484848;
	position: relative;
}
.touched-section_head h1:after{
	content: "";
	border: 1px solid #00bd9b;
	position: absolute;
	width: 145px;
	top: 140px;
	left: 410px;
}
.touched-section_body{
	margin-bottom: 40px;
	padding: 0px 225px;
}
.touched-section_body p{
	font-size: 16px;
	color: #787878;
}
.touched-section--button{
	padding: 20px 45px;
	color: #fff;
	border: none;
	border-radius: 10px;
	background-color: #00bd9b;
	text-transform: uppercase;
	font-size: 27px;
}
.touched-section--button:focus{
	outline: 0;
}
.touched-section--button:hover{
	background-color: red;
}

.about-section{
	padding: 90px 0px 70px 0px;
	background-color: #646362;
	display: flex;
}
.about-section_left{
	width: 35%;
}
.about-section_left h1{
	font-size: 43px;
	color: #ffffff;
}
.about-section_right{
	width: 65%;
}
.about-section_right p{
	font-size: 14px;
	color: #ffffff;
}
.oneRow{
	display: flex;
}


/*-- service section --*/
.service-section{
	padding: 150px 0px 130px 0px;
}
.service-section_head{
	
}
.service-section_head h1{
	margin-bottom: 50px;
}
.line{
	border: 2px solid #494949;
	width: 110px;
	margin-bottom: 120px;
}
.service-section_body{
	display: flex;
	flex-wrap: wrap;
}
.service-item{
	text-align: center;
	width: 360px;
}
.service-item_head{
	margin-bottom: 30px;
}
.service-item_head img{
	margin-bottom: 30px;
}

/* -- footer section -- */
.footer-section{
	padding: 30px 0px;
	background-color: #646362;
}

.footer-content{
	display: flex;
	justify-content: space-between;
}
.footer-content p {
	font-size: 14px;
	color: #ffffff;
}
@media only screen and (max-width: 1200px) {
  .page-wrapper{
  	width: 100%;
  	padding: 0px 15px;
  }
}